@{
    ViewBag.Title = "SKY IS THE LIMIT";
}
<body style="background-image: url('../../Images/NewYork.jpg');">
    <div class="col-md-4"></div>
    <div class="col-md-8" style="margin-top:10px">
        <h2>@ViewBag.Title</h2>
    </div>
    <br />
    <br />
    <div class="col-md-6">

    </div>
    <div class="col-md-4">

        <div class="jumbotron" style="margin-bottom:100px">

            <p class="lead">
                <h4>Radhika Chhibber</h4><h5>(Software Developer)</h5><br />
            </p>
        </div>
    </div>
</body>
