@{
    ViewBag.Title = "Home Page";
}
<html>

<body class="padding-bottom" style="background-image: url('../../Images/New-York.jpg');">
    <div class="jumbotron" style="margin-top:60px">
        <h2>New York City Leading Causes Of Death </h2>
        <p class="lead">
            The application presents number of deaths and death rates for the top causes of all deaths and premature deaths in New York State, New York City and New York State from 2007 to 2014,
            by selected characteristics such as gender, age, and race/ethnicity.
        </p>
        <p><a href="https://datahub.io/JohnSnowLabs/new-york-city-leading-causes-of-death" class="btn btn-primary btn-lg" target="_blank"> Learn more&raquo;</a></p>
    </div>

</body>
</html>